.testimonials{
    padding:80px 10%;
    background:#f9fafb;
    text-align:center;
}

.testimonials h2{
    font-size:2.2rem;
    margin-bottom:40px;
}

.testimonial-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.testimonial-card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.testimonial-card:hover{
    transform:translateY(-10px);
}

.testimonial-card h3{
    margin-bottom:8px;
}

.testimonial-card h4{
    color:#2563eb;
    margin-bottom:15px;
}